/* parallax effect */
[data-scrub-animation="parallax"],
[data-scrub-animation="slow-zoom"] {
  overflow: clipt;
}

[data-scrub-animation="parallax"] img,
[data-scrub-animation="slow-zoom"] img {
  transform: scale(1.05);
  will-change: transform;
}

/* end */

@media screen and (min-width: 992px) {
  .voice_item {
    display: grid;
    padding-bottom: calc(-3rem - 3rem);
    grid-template-rows: max-content 0fr;
    opacity: 0.5;

    transition: grid-template-rows 0.5s ease, opacity 0.5s ease;
  }

  .voice_content_wrap {
    height: 100%;
    overflow: hidden;
  }

  .voice_item.is-active {
    padding-bottom: 3rem;
    grid-template-rows: max-content 1fr;
    opacity: 1;
  }
}

@media screen and (min-width: 1241px) {
  .marquee_list[aria-hidden="true"] {
    display: none;
  }
}

@media screen and (max-width: 1240px) {
  .marquee {
    display: flex;
    /* overflow: hidden; */
    gap: 1rem;
  }

  .marquee_list {
    display: flex;
    /* gap: 1rem; */
    flex-shrink: 0;
    width: max-content !important;

    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-name: marquee-content;
    animation-timing-function: linear;
  }

  /* .marquee:hover .marquee_list {
    animation-play-state: paused;
  } */
}

@keyframes marquee-content {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(calc(-100% - 1rem));
  }
}