@media screen and (min-width: 1241px) {
  .marquee_list[aria-hidden="true"] {
    display: none;
  }
}

@media screen and (max-width: 1240px) {
  .marquee {
    display: flex;
    /* overflow: hidden; */
    gap: 1rem;
  }

  .marquee_list {
    display: flex;
    gap: 1rem;
    flex-shrink: 0;

    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-name: marquee-content;
    animation-timing-function: linear;
  }

  /* .marquee:hover .marquee_list {
    animation-play-state: paused;
  } */
}

@keyframes marquee-content {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(calc(-100% - 1rem));
  }
}